[Desktop Entry]
Name=webscarab
Encoding=UTF-8
Exec=sh -c "webscarab"
Icon=archstrike-webscarab.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;
X-archstrike-Package=webscarab
