[Desktop Entry]
Name=volafox
Encoding=UTF-8
Exec=sh -c "volafox;${SHELL:-bash}"
Icon=archstrike-volafox.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-archstrike-Package=volafox
