[Desktop Entry]
Name=giskismet
Encoding=UTF-8
Exec=sh -c "giskismet -h;${SHELL:-bash}"
Icon=archstrike-kismet.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;06-wireless-attacks;
X-archstrike-Package=giskismet
