[Desktop Entry]
Name=javasnoop
Encoding=UTF-8
Exec=sh -c "javasnoop"
Icon=archstrike-javasnoop.png
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-archstrike-Package=javasnoop
