[Desktop Entry]
Name=stunnel4
Encoding=UTF-8
Exec=sh -c "stunnel4 -help;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-archstrike-Package=stunnel4
