[Desktop Entry]
Name=recstudio
Encoding=UTF-8
Exec=sh -c "recstudio"
Icon=archstrike-recstudio.png
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-archstrike-Package=recstudio
