[Desktop Entry]
Name=veil-evasion
Encoding=UTF-8
Exec=sh -c "veil-evasion -h;${SHELL:-bash}"
Icon=archstrike-veil-catapult-evasion.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintaining-access;13-social-engineering-tools;
X-archstrike-Package=veil-evasion
