[Desktop Entry]
Name=recstudio-cli
Encoding=UTF-8
Exec=sh -c "recstudio-cli;${SHELL:-bash}"
Icon=archstrike-recstudio.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
X-archstrike-Package=recstudio
