[Desktop Entry]
Name=davtest
Encoding=UTF-8
Exec=sh -c "davtest;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-archstrike-Package=davtest
