[Desktop Entry]
Name=nfc-list
Encoding=UTF-8
Exec=sh -c "nfc-list -h;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-archstrike-Package=libnfc
