[Desktop Entry]
Name=scalpel
Encoding=UTF-8
Exec=sh -c "scalpel -h;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-archstrike-Package=scalpel
