[Desktop Entry]
Name=bully
Encoding=UTF-8
Exec=sh -c "bully;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-archstrike-Package=bully
