[Desktop Entry]
Name=wireshark
Encoding=UTF-8
Exec=sh -c "wireshark-gtk"
Icon=archstrike-wireshark.png
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing;
X-archstrike-Package=wireshark
