[Desktop Entry]
Name=bulk_extractor
Encoding=UTF-8
Exec=sh -c "bulk_extractor -h;${SHELL:-bash}"
Icon=archstrike-bulk_extractor.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-archstrike-Package=bulk-extractor
