[Desktop Entry]
Name=t50
Encoding=UTF-8
Exec=sh -c "t50 --help;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;
X-archstrike-Package=t50
