[Desktop Entry]
Name=autopsy
Encoding=UTF-8
Exec=sh -c "autopsy;${SHELL:-bash}"
Icon=archstrike-autopsy.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;11-08-forensic-suites;
X-archstrike-Package=autopsy
