[Desktop Entry]
Name=chkrootkit
Encoding=UTF-8
Exec=sh -c "chkrootkit -h;${SHELL:-bash}"
Icon=archstrike-chkrootkit.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-archstrike-Package=chkrootkit
