[Desktop Entry]
Name=armitage
Encoding=UTF-8
Exec=sh -c "armitage;${SHELL:-bash}"
Icon=archstrike-armitage.png
StartupNotify=false
Terminal=false
Type=Application
Categories=08-exploitation-tools;
X-archstrike-Package=armitage
