[Desktop Entry]
Name=apktool
Encoding=UTF-8
Exec=sh -c "apktool;${SHELL:-bash}"
Icon=archstrike-apktool.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;11-01-android-tools;
X-archstrike-Package=apktool
