[Desktop Entry]
Name=rainbowcrack
Encoding=UTF-8
Exec=sh -c "rcrack;${SHELL:-bash}"
Icon=archstrike-rainbowcrack.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;05-password-attacks;
X-archstrike-Package=rainbowcrack
