[Desktop Entry]
Name=backdoor-factory
Encoding=UTF-8
Exec=sh -c "backdoor-factory -h;${SHELL:-bash}"
Icon=archstrike-backdoor-factory.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintaining-access;13-social-engineering-tools;
X-archstrike-Package=backdoor-factory
