[Desktop Entry]
Name=metasploit framework
Encoding=UTF-8
Exec=sh -c "service postgresql start && msfdb init && msfconsole;${SHELL:-bash}"
Icon=archstrike-metasploit.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;
X-archstrike-Package=metasploit
