[Desktop Entry]
Name=keepnote
Encoding=UTF-8
Exec=sh -c "cherrytree"
Icon=keepnote.png
StartupNotify=false
Terminal=false
Type=Application
Categories=12-reporting;
X-archstrike-Package=keepnote
