[Desktop Entry]
Name=thc-pptp-bruter
Encoding=UTF-8
Exec=sh -c "thc-pptp-bruter;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-online-attacks;
X-archstrike-Package=thc-pptp-bruter
