[Desktop Entry]
Name=phishing-frenzy
Encoding=UTF-8
Exec=sh -c "phishing-frenzy -h;${SHELL:-bash}"
Icon=archstrike-phishing-frenzy.png
StartupNotify=false
Terminal=true
Type=Application
Categories=13-social-engineering-tools;
X-archstrike-Package=phishing-frenzy
