[Desktop Entry]
Name=wapiti
Encoding=UTF-8
Exec=sh -c "wapiti -h;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-archstrike-Package=wapiti
