[Desktop Entry]
Name=wifi-honey
Encoding=UTF-8
Exec=sh -c "wifi-honey -h;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;09-02-network-spoofing;
X-archstrike-Package=wifi-honey
