[Desktop Entry]
Name=sslcaudit
Encoding=UTF-8
Exec=sh -c "sslcaudit -h;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;
X-archstrike-Package=sslcaudit
