[Desktop Entry]
Name=hydra-gtk
Encoding=UTF-8
Exec=sh -c "xhydra"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=05-01-online-attacks;
X-archstrike-Package=hydra-gtk


