[Desktop Entry]
Name=hashdeep
Encoding=UTF-8
Exec=sh -c "hashdeep -h;${SHELL:-bash}"
Icon=archstrike-hashdeep.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-archstrike-Package=hashdeep
