[Desktop Entry]
Name=hashcat
Encoding=UTF-8
Exec=sh -c "hashcat --help;${SHELL:-bash}"
Icon=archstrike-hashcat.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;05-password-attacks;
X-archstrike-Package=hashcat
