[Desktop Entry]
Name=ophcrack-cli
Encoding=UTF-8
Exec=sh -c "ophcrack -h;${SHELL:-bash}"
Icon=archstrike-ophcrack.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-archstrike-Package=ophcrack
