[Desktop Entry]
Name=medusa
Encoding=UTF-8
Exec=sh -c "medusa -h;${SHELL:-bash}"
Icon=archstrike-medusa.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-password-attacks;
X-archstrike-Package=medusa


