[Desktop Entry]
Name=kismet
Encoding=UTF-8
Exec=sh -c "kismet -h;${SHELL:-bash}"
Icon=archstrike-kismet.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-wireless-attacks;
X-archstrike-Package=kismet
