[Desktop Entry]
Name=john
Encoding=UTF-8
Exec=sh -c "john;${SHELL:-bash}"
Icon=archstrike-john.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-password-attacks;
X-archstrike-Package=john
