[Desktop Entry]
Name=ssdeep
Encoding=UTF-8
Exec=sh -c "ssdeep -h;${SHELL:-bash}"
Icon=archstrike-ssdeep.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-archstrike-Package=ssdeep
