[Desktop Entry]
Name=freeradius-wpe
Encoding=UTF-8
Exec=sh -c "freeradius -h;${SHELL:-bash}"
Icon=archstrike-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-archstrike-Package=freeradius-wpe
